.appHeader {
    width: 85%;
    margin: auto;
}

.header {
    color: red;
}

.headerLogoPesquisa {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.headerLogo {
    font-family: "Shippori Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    width: 20%;
}

.headerPesquisa {
    width: 55%;
    position: relative;
}

.headerInputPesquisa {
    background-color: #F5F5F5;
    height: 50px;
    border-radius: 8px;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #ddd;
    outline: none;
    transition: border-color 0.3s ease;
}

.headerInputPesquisa:focus {
    border-color: #AAA;
}

.headerInputPesquisa::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.search-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
 
.search-button:hover {
  background-color: #f0f0f0;
}

.headerSacola {
    width: 25%;
    display: flex;
    flex-direction: row-reverse;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 20%;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
 
.cart-button:hover {
  background-color: #f0f0f0;
}

.cart-quantity {
    margin-left: 5px;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMenuOpcoes {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 50%;
}

.headerMenuOpcao {
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

.headerMenuOpcaoPromocional {
    color: #DC5E5E;
    cursor: pointer;
    font-weight: bold;
}